body
{
    margin: 0;
    padding: 0;
    background-color: black;
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button
{
    position: relative;
    color: rgb(171, 4, 4);
    letter-spacing: 15px;
    border: 5px solid rgb(171, 4, 4);
    padding: 50px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 1.5s;
    border-radius:100px;
}
.button:hover
{
    box-shadow: 0 5px 50px 0 rgb(171, 4, 4),0 5px 50px 0 rgb(171, 4, 4),
    0 5px 50px 0 rgb(171, 4, 4) inset,0 5px 50px 0 rgb(171, 4, 4);
    text-shadow: 0 0 5px rgb(171, 4, 4);
    
}


